section {
    background-color: #f5f5dd;
    width: 250px;
    padding: 25px;
}

.square { 
    width: 85px;
    height: 85px;
    background-color:black;
    margin: 5px auto;
}

#div2 {
    background-color: rgba(0,0,0,0.7);
}

#div3 {
    background-color: rgba(0,0,0,0.4);
}

#div4 {
    background-color: rgba(0,0,0,0.2);
}